.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background-color: aqua;
}
.add-item {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background-color: rgb(26, 197, 197);
}
