<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Table</h1>

  <router-outlet></router-outlet>
</div>
<hr />

<h1>CDK Table</h1>

<table cdk-table [dataSource]="dataSource">
  <!-- Position Column -->
  <ng-container cdkColumnDef="position">
    <th cdk-header-cell *cdkHeaderCellDef>
      No.
    </th>
    <td cdk-cell *cdkCellDef="let element" data-label="No.">
      {{ element.position }}
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container cdkColumnDef="name">
    <th cdk-header-cell *cdkHeaderCellDef>Name</th>
    <td cdk-cell *cdkCellDef="let element" data-label="Name">
      {{ element.name }}
    </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container cdkColumnDef="weight">
    <th cdk-header-cell *cdkHeaderCellDef>Weight</th>
    <td cdk-cell *cdkCellDef="let element" data-label="Weight">
      {{ element.weight }}
    </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container cdkColumnDef="symbol">
    <th cdk-header-cell *cdkHeaderCellDef>Symbol</th>
    <td cdk-cell *cdkCellDef="let element" data-label="Symbol">
      {{ element.symbol }}
    </td>
  </ng-container>

  <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
  <tr cdk-row *cdkRowDef="let row; columns: displayedColumns"></tr>
</table>
